@import url('./normalize.css');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  
}

:root {
  /* cores usadas */
  --amarelo: #FFC756;
  --laranja: #F66139;
  --azul: #7F8FFE;
  --verde: #56B78C;
  --rosa: #c06bc0;
  --roxo: rgb(177, 16, 83);
  --cinza-claro: #D9D9D9;
  --cinza-escuro: #959595;
  --preto: #000000;
  --branco: #ffffff;


  /* fontes */
  --fonte-primaria: 'Fjalla One', sans-serif;
  --fonte-secundaria: 'Work Sans', sans-serif;
}

img {
  opacity: 1;
  transition: 0.5s;
}

img:hover {
  opacity: 0.7;
}
