
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Work+Sans&display=swap');

.menu-center{
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;       
     
}
.big-box{
    height: 13.8vh;
    width: 100%;
    border-radius: 1vh;
    background-color: #000000;
    color: whitesmoke;
}

.into-box {
    /* align-items: center;
    display: flex; */
    justify-content: space-around
    
}

.links-menu {
    color: whitesmoke;
    text-decoration: none;
    font-size: 22px;
    font-family:'Fjalla One';
    font-weight:400;

}





