
.menu-center{
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;       
     
}
.big-box{
    height: 13.8vh;
    width: 100%;
    border-radius: 1vh;
    background-color: #000000;
    color: whitesmoke;
}

.into-box {
    /* align-items: center;
    display: flex; */
    justify-content: space-around
    
}

.links-menu {
    color: whitesmoke;
    text-decoration: none;
    font-size: 25px;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

}





