


.box-banner {
    /* display: grid; */
    padding-top: 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: 0px;
}

.parent img {
    width: 300px;
    height: 385px;
}

.box-text {
    margin-top: 80px;
}

.box-equipe-display {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.box-equipe {
    max-width: 25%;
    max-height: 400px;
    /* width: 200px; */
    height: 400px;
    position: relative;
    padding-bottom: 100px;
    
}

.box-equipe img {
    /* max-width: 300px;
    max-height: 475px; */
    /* height: 200px; */
    width: fit-content;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: 100%;
    object-fit: cover;
    user-select: none;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    max-height: 400px;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe1hover.png');
}

.box-equipe:hover .overlay {
    opacity: 1;
  }