


.box-banner {
    /* display: grid; */
    padding-top: 20px;
}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: px;
    grid-row-gap: 0px;
}

.parent img {
    width: 205px;
    height: 275px;
}

.box-text {
    margin-top: 80px;
}

.box-equipe-display {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-bottom: 10%;
}

.box-equipe {
    max-width: 95%;
    max-height: 400px;
    width: 100%;
    height: 400px;
    position: relative;
    margin: 0 10px 25px;
    
}

.box-equipe img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    user-select: none;
}

.box-equipe h2 {
    position: absolute;
    top: 280px;
    right: 100px;
    left: 20px;
    font-size: 18px;
    color: black;
}

.box-equipe p{
    position: absolute;
    top: 300px;
    right: 100px;
    left: 20px;
    font-size: 16px;
    color: black;
}

.box-equipe p, h2{
    background-color: #F3C362;
}

.equipe-img {
    /* width: 204px; */
    /* height: 275px; */
    object-fit: cover;
    user-select: none;
    width: 100%;
    height: 400px;

}


.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe1hover.png');
}


.box-equipe:hover .overlay {
    opacity: 1;
  }

.overlay2 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe2hover.png');
}


.box-equipe:hover .overlay2 {
    opacity: 1;
}

.overlay3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe3hover.png');
}


.box-equipe:hover .overlay3 {
    opacity: 1;
}

.overlay4 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe4hover.png');
}


.box-equipe:hover .overlay4 {
    opacity: 1;
}

.overlay5 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe5hover.png');
}


.box-equipe:hover .overlay5 {
    opacity: 1;
}

.overlay6 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe6hover.png');
}


.box-equipe:hover .overlay6 {
    opacity: 1;
}

.overlay7 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe7hover.png');
}


.box-equipe:hover .overlay7 {
    opacity: 1;
}

.overlay8 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-size: 100%;
    background-repeat: no-repeat;
    opacity: 0;
    transition: .5s ease;
    background-image: url('./assets/equipe8hover.png');
}


.box-equipe:hover .overlay8 {
    opacity: 1;
}